$purple: #9356DC;
$pink: #FF79DA;
$green: #99E2D0;


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

article {
    margin: 14px 0%;
    animation-duration: 1.5s;
    animation-name: article-appear;
    box-shadow: 3px 3px 5px rgb(208, 200, 200);
    border-radius: 20px;
    animation-fill-mode: both;
}

.delay-1{
    animation-delay: 0s;
}

.delay-2{
    animation-delay: 0.20s;
}

.delay-3{
    animation-delay: 0.40s;
}

.delay-4{
    animation-delay: 0.60s;
}

.delay-5{
    animation-delay: 0.80s;
}

.delay-6{
    animation-delay: 1s;
}

.delay-7{
    animation-delay: 1.20s;
}

.delay-8{
    animation-delay: 1.40s;
}

.delay-9{
    animation-delay: 1.60s;
}

.delay-10{
    animation-delay: 1.80s;
}

@keyframes article-appear {
    0% {
        opacity: 0;    
    }

    100% {
        opacity: 1;
        transform: translate(0px, -30px);
    }
}

h1 {
    font-size: 25px;
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;

    .icone{
        font-size: 25px;
        padding-right: 7px;
    }

    .icone:hover{
        font-weight: 900;
        animation-duration: 0.5s;
        animation-name: heart-empty;
        cursor: pointer;
        background-image:linear-gradient($pink,$purple);
        background-clip:text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    @keyframes heart-empty {
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

}

h2 {
    font-weight: 300;
    font-size: 16px;
    position: relative;
    height: 30px;
    margin: 30px 0px;
    margin-bottom: 60px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    z-index: 1;

    img {
        width: 100%;
        object-fit: cover;
    }
}

header {
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;

    nav {
        display: inline-block;
        text-align: center;
        padding-top: 6px;
        position: absolute;
        left: 20px;
    }

    img {
        width: 170px;
    }

    i {
        font-size: 20px;
    }
}

.img__menu{
    height: 270px;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin-top: -40px;
    background-color: #F6F6F6;
    padding: 5px 15px;
    border-radius: 30px 30px 0% 0%;

    h2::after {
        content: '';
        width: 40px;
        height: 3px;
        background-color: #99E2D0;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    section{
        display: flex;
        flex-direction: column;
    }
}

.h3-box {
    border-bottom: solid $green 2px;
    width: 40px;
}

.food-card {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 15px;
    background-color: white;
    border-radius: 20px;
    height: 70px;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .food-card__check {
            margin-right: 0%;

            i {
                transform: rotate(1turn);
            }
        }


    }

    h3 {
        margin: 0%;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

    h4 {
        margin: 0%;
        font-weight: 200;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

    strong {
        padding-top: 40px;
        margin-right: 15px;
        margin-left: 20px;
    }
}

.food-card__info {
    margin: 15px;
    overflow: hidden;
    width: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.food-card__check {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $green;
    border-radius: 0px 20px 20px 0px;
    margin-right: -70px;
    transition-duration: 0.5s;

    i {
        font-size: 25px;
        color: white;
        background: $green;
        transition-duration: 0.5s;
    }
}

button {
    background: linear-gradient($pink, $purple);
    border: 0cm;
    height: 50px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    padding: 0% 50px;
    align-self: center;
    margin: 30px 0px;
    box-shadow: 3px 3px 3px rgb(183, 177, 177);
    
}

button:hover{
    box-shadow: 5px 5px 5px rgb(130, 127, 127);
    position: relative;
    right: 2px;
    bottom: 2px;
}

footer {
    background-color: #353535;
    padding: 15px;

    a {
        color: white;
    }

    h2 {
        font-size: 17px;
        color: white;
        font-family: 'Shrikhand', cursive;
        margin: 0%;
    }
}

ul {
    list-style-type: none;
    padding: 0%;
    font-size: 15px;
}

li {
    color: white;
    margin-bottom: 5px;
}

@media screen and (min-width:992px){

    .img__menu{
        height: 400px;
    }

    .menu__set{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .menu__category{
        width: 30%;
        
    }

    h2{
        margin-left: 43%;
    }

    article{
        margin:30px 0px ;
    }

}