$purple: #9356DC;
$pink: #FF79DA;
$green: #99E2D0;
$btn-hover: #F5EDFF;


@mixin restaurant__card {
    background-color: white;
    height: 250px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 5px 8px rgb(196, 191, 191);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.loading__screen {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    opacity: 0.8;
    animation-delay: 2.5s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-name: load-disappearance;
    animation-fill-mode: both;
}

@keyframes load-disappearance {

    0% {
        opacity: 0.8;
    }

    100% {
        z-index: -1;
        opacity: 0;
    }
}

.loading {
    position: fixed;
    top: 43%;
    z-index: 11;
    min-width: 65px;
    min-height: 65px;
    max-width: 65px;
    max-height: 65px;
    border: 10px solid white;
    border-top-color: $purple;
    border-bottom-color: $pink;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    opacity: 1;
    animation-fill-mode: both;

}

@keyframes loading {

    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(6turn);
    }
}

header {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 3px rgb(182, 176, 176);
    width: 100%;
}

#ohmyfood {
    width: 170px;
    height: auto;
    text-align: center;
}

#search {
    position: relative;
    z-index: 1;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        font-weight: lighter;
        width: 80%;
        text-align: center;
        margin-bottom: 30px;
        font-size: 17px;
    }
}

#location {
    background-color: #EAEAEA;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 15px;

    i {
        margin-right: 10px;
    }
}

h1 {
    width: 70%;
    text-align: center;
    margin-right: 0%;
    margin-top: 45px;
    margin-bottom: 0%;
}

.search__btn {
    height: 50px;
    border-radius: 25px;
    border: 0px;
    background: linear-gradient($pink, $purple);
    color: white;
    margin-bottom: 50px;
    box-shadow: 2px 2px 7px gray;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: lighter;
}

.search__btn:hover {
    box-shadow: 5px 5px 5px rgb(130, 127, 127);
    position: relative;
    right: 2px;
    bottom: 2px;
    filter: brightness(1.14);
}




#functioning {
    display: flex;
    flex-direction: column;
    padding: 45px 20px;

    h2 {
        margin-top: 0%;
    }
}

ol {
    list-style: none;
    padding: 0%;

    li {
        height: 70px;
        width: 100%;
        margin: 23px 0%;
        padding-top: 25px;
        padding-left: 30px;
        background-color: #F6F6F6;
        border-radius: 20px;
        box-shadow: 2px 5px 8px rgb(196, 191, 191);
        display: flex;
        flex-direction: row;

        div {
            background-color: $purple;
            height: 20px;
            width: 20px;
            text-align: center;
            color: white;
            border-radius: 10px;
            padding-top: 1px;
            position: relative;
            right: 39px;
        }
    }

    i {
        color: #7E7E7E;
        font-size: 18px;
        margin-right: 25px;
        font-size: 20px;
    }
}


#restaurant {
    background-color: #F6F6F6;
    padding: 45px 20px;
    display: flex;
    flex-direction: column
}

.restaurant__card {
    @include restaurant__card();
}

.restaurant__card__new {
    position: absolute;
    background-color: $green;
    width: 80px;
    height: 30px;
    color: #008766;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    border-radius: 3px;
    right: 12px;
    top: 12px;
}

.restaurant__card__img {
    height: 70%;
    width: 100%;
    position: relative;

    img {
        border-radius: 15px 15px 0% 0%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.restaurant__card__txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0% 15px;

    p {
        margin-top: 4px;
        font-weight: 100;
    }

    button {
        background: white;
        border: none;
    }

    .icone {
        font-size: 25px;
        padding-right: 7px;
    }

    .icone:hover {
        font-weight: 900;
        animation-duration: 0.5s;
        animation-name: heart-empty;
        cursor: pointer;
        background-image: linear-gradient($pink, $purple);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    @keyframes heart-empty {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

h3 {
    font-weight: bolder;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 0%;
}

footer {
    background-color: #353535;
    padding: 15px;

    a {
        color: white;
    }

    h2 {
        font-size: 17px;
        margin-top: 0%;
        color: white;
        font-family: 'Shrikhand', cursive;
    }

    li {
        color: white;
        margin-bottom: 5px;
    }
}

ul {
    list-style-type: none;
    padding: 0%;
    font-size: 15px;
}


@media screen and (max-width:992px) and (min-width:767px) {

    #functioning {
        text-align: center;
    }

    ol {
        margin-left: 25%;
        width: 50%;

        li {
            text-align: center;
        }
    }

    #restaurant {
        text-align: center;
    }

    #set__card__restaurant {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .restaurant__card {
        width: 335px;
        margin: 30px;
    }

    .restaurant__card__txt{
        div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    footer {
        text-align: center;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0% 10%;
            margin-top: 30px;
        }
    }

}


@media screen and (min-width:992px) {

    #functioning {
        text-align: center;
    }

    ol {
        flex-direction: row;
        display: flex;
        justify-content: space-around;

        li {
            width: 30%;

            div {
                bottom: 33.5px;
                left: 43%;
            }
        }
    }

    #restaurant {
        text-align: center;
    }

    #set__card__restaurant {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .restaurant__card {
        width: 19%;
        margin: 30px;
    }

    .restaurant__card__txt{
        div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    footer {
        text-align: center;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0% 10%;
            margin-top: 30px;
        }
    }

}